<div class="bg-gray-800 h-16 flex justify-center">
  <ul class="flex justify-around w-2/3 text-3xl text-gray-300 py-3">
    <li class="inline-block px-3"><a href="https://github.com/AbdulmelikSAK" target="_blank"><i class="fab fa-github"></i></a></li>
    <li class="inline-block px-3"><a href="https://www.linkedin.com/in/abdulmelik-sak/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    <li class="inline-block px-3"><a href="https://www.codewars.com/users/AbdulmelikSAK" target="_blank"><i class="fas fa-code"></i></a></li>
  </ul>
</div>
