<div style="height:67vh;">
  <div class="md:ml-32 mt-16 mr-4 relative h-full" style="padding-bottom: 70%">
    <iframe class="absolute inset-0 w-full h-full" src="CV_Abdulmelik_SAK.pdf"></iframe>
  </div>
</div>

