<div class="h-screen">
  <div class="md:ml-32 mt-16 mr-4 relative h-2/3" style="padding-bottom: 70%">
    <iframe class="absolute inset-0 w-full h-full" src="CV_AbdulmelikSak.pdf"></iframe>
  </div>
</div>

