<div class="flex md:items-center flex-col md:flex-row p-6">
  <div class="md:w-1/3 mx-10 flex flex-col  items-center bg-white p-6 md:pb-10 sm:my-10 rounded-xl shadow-xl md:flex-grow">
    <%= image_tag "DSCF3008.jpg", alt: "photo_profil"%>
    <div class="text-justify">
      <p>
        Je suis actuellement à l'écoute d'opportunité, plus précisément dans la programmation.
      </p>
      <p>
        De nature très curieuse j'adore apprendre dans tous les domaines et relevé des défis en tout genre.
      </p>
      <p>
        Attiré depuis toujours par les nouvelles technologies j'adore aussi voyager et passer mon temps au cinéma.
      </p>
    </div>
  </div>
  <iframe src="CV_AbdulmelikSak.pdf" width="600" height="850"></iframe>
</div>
